/* font import from my github */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/lokakrp/fonts/main/helvetica%20neue/HelveticaNeueRoman.otf') format('opentype');
}



a {
    text-decoration: none;
}

p {
    font-family: "Helvetica Neue", "UD デジタル 教科書体 N-R", serif;
    margin: calc(100% / 99);
    width: 50;
    word-wrap: break-word;
}

p.p {
    font-family: "Helvetica Neue", "UD デジタル 教科書体 N-R", serif;
    word-wrap: break-word;
}

h1 {
    font-family: "Helvetica Neue", "UD デジタル 教科書体 N-R", serif;
    font-size: 50;
}
hr {
    border: none;
    border-bottom: 1px solid  #dfe2e2;
    margin: calc(100% / 170);
  }

div {
    font-family: "Helvetica Neue";
}

html {
    /* height: 100%; */
    background-color: hwb(224 75% 16%);
}
.blind {
    margin-right: calc(100% / 99);
}

body {
    height: 100%;
    font-size: 100;
    line-height: 1.5;
    letter-spacing: 1;
    max-width: 700px;


    margin: auto;
    margin-top: calc(100% / 99);
    margin-bottom: calc(100% / 99);
    padding: 60px;
    color: #333;
    background-color: #fafaff
}

/* links */

#body {
    height: 90%;
    min-height: 90%;
}

body > #body {
    height: auto;
}

a:link {
color: #5a8261;
}

a:visited {
color: #5a8261;
}

a:hover {
color: peru;
}

a:active {
color: peru;
}

a:focus {
color: peru;
}

a.select:link {
color: #333;
}

a.select:visited {
color: #333;
}

a.select:hover {
color: peru;
}

a.select:active {
color: peru;
}

a.select:focus {
color: peru;
}

.heading {

}